$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;

$color-black: #000000A5;
$color-blue: #092433;
$color-gray: #595959;
$color-gray-light: #818C99;
$color-white: #FFFFFFCC;

$large-resolution: 1200px;
$medium-resolution: 991px;
$small-resolution: 768px;

$container-width-max: 1440px;

$header-height: 88px;
$header-padding: 0 15px;
$header-container-width: 1194px;

$header-height-mobile: 56px;

$footer-height: 50px;
$footer-padding: 8px 20px;
